@custom-variant dark (&:is(.dark *));
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
:root {
  --font-size: 16px;
  --background: #daf3ff;
  --foreground: oklch(0.145 0 0);
  --card: #ffffff;
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #180eabcb;
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.95 0.0058 264.53);
  --secondary-foreground: #030213;
  --muted: #ececf0;
  --muted-foreground: #717182;
  --accent: #e9ebef;
  --accent-foreground: #030213;
  --destructive: #d4183d;
  --destructive-foreground: #ffffff;
  --border: rgba(0, 0, 0, 0.1);
  --input: transparent;
  --input-background: #f3f3f5;
  --switch-background: #cbced4;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: #010a1b;
  --sidebar-secondary: #033081;
  --topbtn-primary: #0b6bf7;
  --topbtn-secondary: #063f91;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: #3973c9;
  --sidebar-ring: oklch(0.708 0 0);
}
/* Blue theme */
[data-theme="blue"] {
  --background: #eff8ff;
  --foreground: #0f172a;

  --card: #ffffff;
  --card-foreground: #0f172a;

  --primary: #2563eb;
  --primary-foreground: #ffffff;

  --secondary: #dbeafe;
  --secondary-foreground: #1e3a8a;

  --muted: #eff6ff;
  --muted-foreground: #64748b;

  --accent: #dbeafe;
  --accent-foreground: #1e40af;

  --border: #bfdbfe;

  --sidebar: #0f172a;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #2563eb;
  --sidebar-secondary: #1d4ed8;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #1e293b;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #334155;

  --topbtn-primary: #2563eb;
  --topbtn-secondary: #1d4ed8;
}

/* Purple theme */
[data-theme="purple"] {
  --background: #faf5ff;
  --foreground: #18181b;

  --card: #ffffff;
  --card-foreground: #18181b;

  --primary: #7c3aed;
  --primary-foreground: #ffffff;

  --secondary: #ede9fe;
  --secondary-foreground: #5b21b6;

  --muted: #f5f3ff;
  --muted-foreground: #71717a;

  --accent: #ede9fe;
  --accent-foreground: #6d28d9;

  --border: #ddd6fe;

  --sidebar: #2e1065;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #8b5cf6;
  --sidebar-secondary: #6d28d9;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #4c1d95;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #5b21b6;

  --topbtn-primary: #7c3aed;
  --topbtn-secondary: #5b21b6;
}

/* Green theme */
[data-theme="green"] {
  --background: #f0fdf4;
  --foreground: #14532d;

  --card: #ffffff;
  --card-foreground: #14532d;

  --primary: #16a34a;
  --primary-foreground: #ffffff;

  --secondary: #dcfce7;
  --secondary-foreground: #166534;

  --muted: #f0fdf4;
  --muted-foreground: #64748b;

  --accent: #dcfce7;
  --accent-foreground: #15803d;

  --border: #bbf7d0;

  --sidebar: #052e16;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #16a34a;
  --sidebar-secondary: #15803d;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #14532d;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #166534;

  --topbtn-primary: #16a34a;
  --topbtn-secondary: #15803d;
}
[data-theme="red"] {
  --background: #fff5f5;
  --foreground: #450a0a;

  --card: #ffffff;
  --card-foreground: #450a0a;

  --popover: #ffffff;
  --popover-foreground: #450a0a;

  --primary: #b91c1c;
  --primary-foreground: #ffffff;

  --secondary: #fee2e2;
  --secondary-foreground: #991b1b;

  --muted: #fef2f2;
  --muted-foreground: #7f1d1d;

  --accent: #fee2e2;
  --accent-foreground: #991b1b;

  --border: #fecaca;

  --sidebar: #450a0a;
  --sidebar-foreground: #ffffff;

  --sidebar-primary: #450a0a;
  --sidebar-secondary: #b91c1c;

  --sidebar-primary-foreground: #ffffff;

  --sidebar-accent: #7f1d1d;
  --sidebar-accent-foreground: #ffffff;

  --sidebar-border: #991b1b;

  --topbtn-primary: #ef4444;
  --topbtn-secondary: #b91c1c;
}
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-secondary: #033081;

  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-search-primary: var(--topbtn-primary);
  --color-search-secondary: var(--topbtn-secondary);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-switch-background: var(--switch-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-secondary: var(--sidebar-secondary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-heading: var(--font-sans);
  --font-sans: "Geist Variable", sans-serif;
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

/**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */
@layer base {
  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) {
    h1 {
      font-size: var(--text-2xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h3 {
      font-size: var(--text-lg);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h4 {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    p {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }

    label {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    button {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    input {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }
  }
}

html {
  font-size: var(--font-size);
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: background 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.35);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(208, 214, 226, 0.2) transparent;
}
/* Hide scrollbar for Chrome, Safari and Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge */
.scrollbar-hide {
  -ms-overflow-style: none;
}
/* Hide scrollbar but allow scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

/* Fix common email HTML elements */

@keyframes pulseGlow {
  0%,
  100% {
    box-shadow: 0 0 0 rgba(59, 130, 246, 0.4);
  }
  50% {
    box-shadow: 0 0 28px rgba(59, 130, 246, 0.6);
  }
}
@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-enter {
  animation: toast-enter 0.35s ease forwards;
}

.animate-leave {
  animation: toast-leave 0.25s ease forwards;
}

@keyframes toast-enter {
  from {
    opacity: 0;
    transform: translateX(100%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes toast-leave {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
body {
  margin: 0 !important;
}
